.showcase{
}
.showcase-first-container{
    /* background: red; */
    display: flex;
    margin: 3em 0;
}
.showcase-first-container .img{
    width: 50%;
    margin: 0 5em 0 0;
}
.showcase-first-container .img img{
    display: block;
    width: 100%;
    height: 100%;
    background: red;
}
.showcase-first-content{
    width: 50%;
}

.title{
    /* background: #fff; */
    font-size: 3em;
}
.title h1{ 
    font-family: 'Pacifico', cursive;
    margin: 1em 0;
}
.title h1 .red{
    color: red;
}
p.text{
    font: 1.3em 'Poppins',sans-serif;
    margin: 3em 0;
}

button.btn.btn-sub{ 
     background: rgb(196,29,210);
    background: linear-gradient(90deg, rgba(195, 29, 210, 0.5) 32%, rgba(42, 133, 207, 0.5) 70%); 
    color: #000;
    margin: 0em 10px;
    border-radius: 25px;
    width: 180px; 
    padding: 1.1em 0;
    text-align: center;
    cursor: pointer;
    transition: all .25s ease-in;
    box-shadow: 0px 30px 61px -7px rgba(0,0,0,0.6);
 }



 .showcase-sec-container{
    /* background: red; */
    display: flex;
    margin: 3em 0;
}
.showcase-sec-content{
    width: 50%;
}
.showcase-sec-container .img{
    width: 50%;
}
showcase-sec-container .img img{
    display: block;
    width: 100%;
    height: 100%;
}